.modal-message__title {
  background-color: #4b0f83;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.4rem 1rem;
  color: #fff;
}

.modal-message__content {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 1rem;
}

.card__modal {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.btn__modal {
  margin: 1rem;
  align-self: flex-end;
}
