* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  padding: 5rem 0;
  position: relative;
}

/* helper rule */

.margin-buttom-m {
  margin-bottom: 4rem;
}

.center-v-h {
  margin: auto;
}

.untouchable {
  pointer-events: none;
}
